{{#if loggedIn}}

  <section class="card">
    
    <form id="newPost">
      <header class = "centeredText">Create a New Post</header>
      <p>Title</p>
      <input type="text" id="titleInput" placeholder="Title" />
      <p>Content</p>
     <!-- <textarea id="contentInput" class = "contentBox" placeholder="Content" </textarea> -->
      <textarea
        name="commentText"
        id="contentInput"
        class="contentBox"
        cols="100"
        rows="10"
        placeholder=" Content"
      ></textarea>
<div id = "createPostbutton">
      <button id="createPostBtn" class="">Create</button>
      </div>
    </form>
  </section>
  <div class = "button">
  <a href="/create" class  ="button-link">+ New Post</a>
  </div>
{{else}}
  <a href="/login" class= "loginMessage">You must login first to view this page</a>
{{/if}}

<script src="/js/newPost.js"></script>