 <h1>Your Dashboard</h1>
 {{#if loggedIn}}
{{#each posts as |post|}}
{{> postsForDashboard}}
{{/each}}
<br>
<div class = "button">
<a href="/create" class= "button-link">+ New Post</a>
</div>
{{else}}
  <a href="/login" class= "loginMessage">You must login first to view this page</a>
{{/if}}